body {
   font-family: Arial, sans-serif;
   background-color: #f4f4f4;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: 0;
}
#breeds  {
   margin-bottom: 30px;
}

.card {
   background-color: rgb(208, 243, 221);
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   overflow: hidden;
   width: 500px;
   text-align: center;
   max-width: 600px;
   height: 800px;
}

.image-container {
   height: 500px;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
}

.image-container img {
   width: 100%;
   height: auto;
   max-width: 600px;
   max-height: 600px;
}

.title {
   font-size: 24px;
   font-weight: bold;
   margin: 20px 0 10px;
}

.description {
   font-size: 20px;
   font-weight: 600;
   color: #555;
   margin: 0 20px 20px;
}

.hidden {
   display: none;
}

/** loader**/

.loader {
   width: 84px;
   height: 84px;
   position: relative;
}

.loader:before,
.loader:after {
   content: "";
   position: absolute;
   right: 0;
   top: 0;
   width: 84px;
   height: 84px;
   border-radius: 50%;
   background: #FF3D00;
   animation: push 1s infinite linear alternate;
}

.loader:after {
   top: auto;
   bottom: 0;
   left: 0;
   background: #fff;
   animation-direction: alternate-reverse;
}

@keyframes push {
   0% {
      width: 14px;
      height: 14px;
   }

   100% {
      width: 84px;
      height: 84px;
   }
}